:root {
    --themeBlue: #002f58;
    --themeWhite: #f9f9f9;
}

* {
    font-family: Source Sans Pro, Helvetica Neue, Arial, sans-serif;
}

.banner-content {
    color: var(--themeWhite);
    background-image: url("bg-banner.webp");
    width: -webkit-fill-available;
    aspect-ratio: 16/1;
    text-align: center;
    object-fit: scale-down;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column ;
}

.banner-content h2 {
    font-size: 36px;
    margin-bottom: 10px;
    color: var(--themeWhite);
    padding-top: 3.5%;
    background-color: transparent;
}

.banner-content p {
    font-size: 18px;
    margin-bottom: 20px;
    color: var(--themeWhite);
    background-color: transparent;
}

.center-content {
    min-height: 50vh !important;
    width: 100%;
}

.link {
    text-decoration: underline;
    color: #0d6efd !important;
    cursor: pointer;
}

.sideBar {
    margin: 0px 15px;
    width: 250px !important;
}

.sideBar .sidebar-header {
    color: var(--themeBlue);
    border-bottom: 1px solid var(--themeBlue);
    width: fit-content;
}

.content {
    padding: 15px;
    width: calc(100vw - 295px);
}

.relative {
    /* height: 100vh; */
    position: relative;
    width: 250px !important;
}

.fixed {
    position: fixed;
    top: 25px;
    width: 250px !important;
}

.center-content .relative ul {
    list-style-type: none;
    padding: 0;
}

.center-content .sub-link {
    text-align: start !important;
    padding: 5px 0px 5px 15px;
    cursor: pointer;
}

.center-content .active {
    color: var(--themeBlue) !important;
    border-left: 3px solid var(--themeBlue) !important;
    background-color: var(--themeWhite);
    width: 95%;
}

#readme-content h1 {
    font-size: 2em;
    padding-top: 1em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #30363db3;
}

#readme-content h2 {
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-size: 1.5em;
    border-bottom: 1px solid #30363db3;
}

#readme-content img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    object-fit: scale-down;
}

#readme-content pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    color: var(--themeWhite);
    background-color: #161b22;
    border-radius: 6px;
}

#readme-content code {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}

#readme table {
    display: block;
    width: 100%;
    width: max-content;
    max-width: 100%;
    overflow: auto;
}

.diagram {
    max-width: 40%;
    height: 40%;
}

/* footer */
footer {
    background-color: var(--themeBlue);
    color: var(--themeWhite);
    padding-top: 50px;
    z-index: 1;
    position: relative;
}

.github_logo {
    border-radius: 50%;
}

.footer-container {
    background-color: transparent;
}

.footer-container img {
    height: 30px;
    background-color: transparent;
}

.footer-container ul a {
    color: var(--themeWhite);
    text-decoration: none;
}

.footer-container ul a:hover {
    border-bottom: 1px solid var(--themeWhite);
}

.copyright {
    text-align: center;
    background-color: var(--themeWhite);
    color: var(--themeBlue);
    padding: 20px 0;
    margin-top: 50px;
    font-size: 14px;
}
.copyright img {
    width: 150px!important;
    height: auto;
    margin-bottom: 20px;
}
